<div role="main" class="container" id="pageTop">

    <br><br> <br><br>
    <div class="well">
        <div class='row'>
            <div class='col-md-4'>
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" href="#" class="btn btn-danger actionAdd" title="Add new lab"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD NEW RESULT</a>
                </div>
            </div>
            <div class='col-md-2'>
                <button class="btn btn-info" *ngIf='listRefNumberFilter || listDateFilter || listAbnormalFilter' (click)='deleteFilters()'><i class="fa fa-eraser "></i> Delete filters</button>
            </div>



            <div class='col-md-2'>
                <div class="input-group input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="text" [(ngModel)]='listRefNumberFilter' class="form-control" placeholder="Search" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class='col-md-2'>
                <div class="input-group">
                    <span class="input-group-addon">
                    <input type="checkbox" [(ngModel)]='listAbnormalFilter'>
                </span>
                    <input type="text" class="form-control" value="Abnormal" disabled="True">
                </div>
                <!-- /input-group -->
            </div>

            <div class='col-md-2'>
                <datetime [timepicker]="false" [datepicker]="datepickerOpts" [(ngModel)]="listDateFilter"></datetime>
            </div>

        </div>

    </div>



    <br><br><br>

    <div class="list-group">
        <div class="lab" *ngFor='let lab of labs | labRefNumberFilter: listRefNumberFilter | labDateFilter: listDateFilter | labAbnormalFilter: listAbnormalFilter'>
            <a [routerLink]="['/lab', lab.pk]" class="list-group-item default">
                <span class="badge">
                    <div class="btn-group">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h fa-1x" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>
                            <li role="separator" class="divider"></li>
                            <li>Separated link</li>
                        </ul>
                    </div>
                 </span><br />
                <h4 class="list-group-item-heading">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4"><i class="fa fa-heartbeat fa-1x text-primary sr-contact"></i> {{ lab.ref_number }} </div>
                            <div class="col-md-4"><i class="fa fa-calendar fa-1x sr-contact"></i> {{ lab.date | date:"mediumDate" }} </div>
                            <div class="col-md-2"><span class="glyphicon glyphicon-warning-sign text-primary" *ngIf='lab.abnormal_lab'></span></div>
                            <div class="col-md-2">

                            </div>

                        </div>
                        <hr>
                        <div class="list-group-item-text">
                            <div class="row">

                                <div class="col-md-4"><strong>Age </strong> {{ lab.user_age_lab }}</div>
                                <div class="col-md-4"><strong>Doctor </strong> {{ lab.doctor }}</div>
                                <div class="col-md-4"><strong>Collection point </strong> {{ lab.collection_point }}</div>

                            </div>
                        </div>
                    </div>
                </h4>

            </a>

        </div>
    </div>
    <br><br><br>
    <div class="well">
        <div class="btn-group" role="group" aria-label="...">
            <a type="button" href="#" class="btn btn-danger actionAdd" title="Add new lab"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD NEW RESULT</a>
        </div>
    </div>


</div>


<hr><br />
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{{ pageTitle | uppercase }}</h2>
            <a href="#about" class="btn btn-default btn-xl sr-button page-scroll">Back to top</a>
        </div>
    </div>
</aside>