<div class="table-responsive">
    <table class="table  table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Marker</th>
                <th>Category</th>
                <th>Abbreviation</th>
                <th>UM</th>
                <th>Value</th>
                <th>Min Value</th>
                <th>Max Value</th>
                <th></th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a class="viewDictionary" rel="tooltip" data-placement="top" title="Details" data-toggle="modal" id="close"
                        data-target="#modal" href="#"><i class="fa fa-book fa-1x  text-primary" aria-hidden="true"></i></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

        </tbody>
    </table>
</div>
<br /> <br />


<button class="btn btn-danger actionViewResults" rel="tooltip" data-placement="top" title="Add a result">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add marker
</button>