<aside class="bg-gray">
    <div class="container">
        <div class="call-to-action">
            <div class="comments-app">

                <!-- Comments List -->
                <div class="comments">

                    <!-- Comment - Dummy -->
                    <div class="comment" *ngFor='let note of notes'>
                        <!-- Comment Avatar -->
                        <div class="comment-avatar">
                            <img src="https://s.gravatar.com/avatar/3e64cc2eb07b75579a390dcf9540b169?s=80">
                        </div>

                        <!-- Comment Box -->
                        <div class="comment-box">
                            <div class="comment-text">{{ note.comment }}</div>
                            <div class="comment-footer">
                                <div class="comment-info">
                                    <span class="comment-author">user</span>
                                    <span class="comment-date">{{ note.pub_date | date:"fullDate" }}</span>
                                </div>

                                <div class="comment-actions">
                                    <a href="#">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- From -->
                <div class="comment-form">
                    <!-- Comment Avatar -->
                    <div class="comment-avatar">
                        <img src="https://s.gravatar.com/avatar/3e64cc2eb07b75579a390dcf9540b169?s=80">
                    </div>

                    <form class="form" name="form" novalidate>
                        <div class="form-row">
                            <textarea class="input" placeholder="Add comment..." required></textarea>
                        </div>
                        <div class="form-row">
                            <input class="btn btn-primary" type="submit" value="Add Comment">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</aside>